body{
    font-family: serif;
    padding: 20px;
    background-color: indianred;
}
.example{
    background-color: beige;
    padding:20px;
    margin-bottom:20px;
    border-radius:8px;
    box-shadow:2px 2px 10px rgb(81, 4, 248);
}
.typography{
    font-family: monospace;
    font-size:24px;
    font-weight:bold;
    font-style: italic;
}
.text-decoration{
    text-decoration:underline wavy blueviolet;
}
.text-shadow{
    text-shadow:2px 2px 5px black;
    font-size:30px
}